* {
	font-family: "Roboto", sans-serif;
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}

html {
	scroll-behavior: smooth;
}

img {
	height: 250px;
	width: 350px;
	border-radius: 20%;
}

#landing {
	height: 80vh;
	/*center content verticaly using flexbox*/
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	
}
.jumbotron {
	background-color: transparent;
}

#gallery {
	height: 55vh;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
}
.tools {
	color: white;
	padding: 25px;
	height: 200px;
	border: 5px solid #f2f2f2;
	margin: 20px;
	width: 75%;
	border-radius: 6px;
}

ul {
	list-style: none;
	padding: 0;
}
h2 {
	color: #E5E3E2;
}